/* HTML: <div class="loader"></div> */
#loader {
    width: 40px;
    height: 20px;
    background: orange;
    position: relative;
    animation: l9-0 1.5s infinite linear;
}

#loader:before,
#loader:after {
    content: "";
    position: absolute;
    background: inherit;
    bottom: 100%;
    width: 50%;
    height: 100%;
    animation: inherit;
    animation-name: l9-1;
}

#loader:before {
    left: 0;
    transform-origin: bottom left;
    --s: -1;
}

#loader:after {
    right: 0;
    transform-origin: bottom right;
}

@keyframes l9-0 {

    0%,
    10% {
        transform: translateY(0%) scaleY(1)
    }

    49.99% {
        transform: translateY(-50%) scaleY(1)
    }

    50% {
        transform: translateY(-50%) scaleY(-1)
    }

    90%,
    100% {
        transform: translateY(-100%) scaleY(-1)
    }
}

@keyframes l9-1 {

    10%,
    90% {
        transform: rotate(0deg)
    }

    50% {
        transform: rotate(calc(var(--s, 1)*180deg))
    }
}



/* hearts animation */
:root {
    --main-color: #ff5678;
    --secondary-color: #ff304f;
    --heart-size: 20px;
}

#message {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.heart {
    position: absolute;
    width: var(--heart-size);
    height: var(--heart-size);
    background: red;
    transform: rotate(45deg);
    animation: fall 2.5s linear infinite;
}

.heart::before,
.heart::after {
    content: "";
    position: absolute;
    width: var(--heart-size);
    height: var(--heart-size);
    background: red;
    border-radius: 50%;
}

.heart::before {
    top: -10px;
    left: 0;
}

.heart::after {
    top: 0;
    left: -10px;
}

@keyframes fall {
    0% {
        top: -50px;
        opacity: 1;
    }

    100% {
        top: 100vh;
        opacity: 0;
        transform: rotate(90deg);
    }
}