* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Manrope';
}

/* my extra fonts */
/* link the following to the html file

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap" rel="stylesheet">

*/
.caveat-4 {
    font-family: "Caveat", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.caveat-3 {
    font-family: "Caveat", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.caveat-2 {
    font-family: "Caveat", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.caveat-1 {
    font-family: "Caveat", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

/* link the following to the html file

    <link href="https://fonts.googleapis.com/css2?family=Parisienne&display=swap" rel="stylesheet">

*/
.parisienne-regular {
    font-family: "Parisienne", serif;
    font-weight: 400;
    font-style: normal;
}


#letterHome {
    font-family: "";
}

/* below line will be default unless page is ready */

#preloader {
    z-index: 100;
    background: #fff;
    position: fixed;
    width: 100vw;
    height: 100vh;
    padding-top: 50vh;
    padding-left: 46vw;
}

/* below header.fixed works with the index.js file */
header.fixed {
    background: lightcoral;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.floatLeft {
    float: left;
    width: 100%;
}

.dispFlex_cen {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.dispFlex_justConCen {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.justCon-spaceBet {
    justify-content: space-between;
}

.noPadding {
    padding: 0;
}

.bfr:before {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
    content: '';
}