@media (min-width: 1920px) {
    header.barBox {
        width: 5vw;
        height: 5vw;
    }

    header .menuControl span {
        font-size: 2vw;
    }

    .myCounterCard .text h1 {
        font-size: 4.6rem;
    }

    .myCounterCard .text h3 {
        font-size: 2rem;
    }

    nav.active {
        width: 30vw;
    }

    nav ul.navList li {
        font-size: 2vw;
    }

    footer.floatLeft {
        font-size: 1.2vw;
    }

    .hero {
        background: url(../images/farm.svg) no-repeat center;
        background-size: cover !important;
    }

    .hero .myCol h1 {
        font-size: 5rem;
        font-weight: bold;
    }

    .hero .myCol h3 {
        font-size: 3rem;
        color: #2b2b2b;
    }

    .myBtn {
        font-size: 1rem;
        min-width: 10rem;
        height: auto;
        margin-right: 0.5rem;
        margin-bottom: 0.5rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

    .more {
        padding: 0;
    }

    .more .text {
        padding-top: 20vh;
    }

    .more .row {
        padding-top: 0;
    }

    .more .text {
        text-align: center;
        padding-top: 25vh;
        padding-bottom: 20vh;
    }

    .more .text h2 {
        font-size: 3.6rem;
    }

    .more .text h3 {
        font-size: 2.6rem;
        padding-top: 3rem;
    }

    .more .text p {
        font-size: 2rem;
    }

    .more math {
        font-size: 2rem;
    }

    .more img {
        width: 50%;
        height: auto;
        aspect-ratio: 1/1;
        object-fit: cover;
        object-position: center;
        transition: 0.6s;
        -webkit-transition: 0.6s;
    }
}

@media (min-width: 1440px) {
    header.barBox {
        width: 5vw;
        height: 5vw;
    }

    header .menuControl span {
        font-size: 2vw;
    }

    .myCounterCard .text h1 {
        font-size: 4.6rem;
    }

    .myCounterCard .text h3 {
        font-size: 2rem;
    }

    nav.active {
        width: 30vw;
    }

    nav ul.navList li {
        font-size: 2vw;
    }

    footer.floatLeft {
        font-size: 1.2vw;
    }

    .hero {
        background: url(../images/farm.svg) no-repeat center;
        background-size: cover !important;
    }

    .hero .myCol h1 {
        font-size: 5rem;
        font-weight: bold;
    }

    .hero .myCol h3 {
        font-size: 3rem;
        color: #2b2b2b;
    }

    .myBtn {
        font-size: 1rem;
        min-width: 10rem;
        height: auto;
        margin-right: 0.5rem;
        margin-bottom: 0.5rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

    .more {
        padding: 0;
    }

    .more .row {
        padding-top: 0;
    }

    .more .text {
        text-align: center;
        padding-top: 25vh;
        padding-bottom: 20vh;
    }

    .more .text h2 {
        font-size: 3.6rem;
    }

    .more .text h3 {
        font-size: 2.6rem;
        padding-top: 3rem;
    }

    .more .text p {
        font-size: 2rem;
    }

    .more math {
        font-size: 2rem;
    }

    .more img {
        width: 50%;
        height: auto;
        aspect-ratio: 1/1;
        object-fit: cover;
        object-position: center;
        transition: 0.6s;
        -webkit-transition: 0.6s;
    }
}

@media (min-width: 1024px) {
    header .menuControl span {
        font-size: 3vw;
    }

    nav.active {
        width: 30vw;
    }

    nav ul.navList li {
        font-size: 2vw;
    }

    footer.floatLeft {
        font-size: 1.2vw;
    }

    .hero {
        background: url(../images/farm.svg) no-repeat center;
        background-size: cover !important;
    }

    .hero .myCol h1 {
        font-size: 4rem;
        font-weight: bold;
    }

    .hero .myCol h3 {
        font-size: 2rem;
        color: #2b2b2b;
    }

    .myBtn {
        font-size: 1rem;
        min-width: 10rem;
        height: auto;
        margin-right: 0.5rem;
        margin-bottom: 0.5rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

    .more {
        padding: 0;
    }

    .more .row {
        padding-top: 0;
    }

    .more .text {
        text-align: center;
        padding-top: 25vh;
        padding-bottom: 20vh;
    }

    .more .text h2 {
        font-size: 2.8rem;
    }

    .more .text h3 {
        font-size: 2.6rem;
        padding-top: 3rem;
    }

    .more .text p {
        font-size: 1.2rem;
    }

    .more math {
        font-size: 1.2rem;
    }

    .more img {
        width: 50%;
        height: auto;
        aspect-ratio: 1/1;
        object-fit: cover;
        object-position: center;
        transition: 0.6s;
        -webkit-transition: 0.6s;
    }
}