/* this css is for mobile first website */

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

/* for extra-small */
@media (min-width: 475px) {
    .container {
        max-width: 475px;
    }

    .about {
        height: 100vh;
        padding: 30vw 0;
        font-family: 'Manrope', sans-serif;
        background: #ddd;
    }

    .about .text h2 {
        color: #000;
        font-size: 8vw;
        margin-bottom: 2vw;
    }

    .about .text p {
        font-size: 5vw;
        line-height: 150%;
        margin-bottom: 3vw;
    }
}

/* for small */
@media (min-width: 640px) {
    .container {
        max-width: 640px;
    }

    nav ul li {
        font-size: 2vw;
        margin-bottom: 2vw;
    }
}

/* for medium */
@media (min-width: 768px) {
    .container {
        max-width: 768px;
    }

    nav ul li {
        font-size: 2vw;
        margin-bottom: 2vw;
    }
}

/* for large */
@media (min-width: 1024px) {
    .container {
        max-width: 1024px;
    }

    header {
        position: fixed;
        width: 100%;
        left: 0;
        top: 0;
        z-index: 99;
        font-family: 'Manrope', sans-serif;
        font-weight: bold;
        padding: 2vw 0;
        transition: 0.3s;
        -webkit-transition: 0.3s;
    }

    header.fixed {
        background: lightcoral;
        padding: 2vw 0;
    }

    header a.myTitle {
        float: left;
        color: #fff;
        font-size: 2vw;
        transition: 0.3s;
        -webkit-transition: 0.3s;
    }

    header.fixed a.myTitle {
        font-size: 2vw;
    }

    header span {
        font-size: 2vw;
        color: #fff;
    }

    .hero {
        height: 100vh;
        background: url(../images/pic1.jpg) no-repeat center;
        background-size: cover !important;
        padding-top: 20vw;
        padding-bottom: 14vw;
        position: relative;
        z-index: 1;
    }

    .hero .text {
        float: left;
        width: 80%;
    }

    .hero .text h1 {
        color: #fff;
        font-size: 5.8vw;
        line-height: 100%;
        margin-bottom: 3vw;
    }

    .hero .text h3 {
        color: #fff;
        font-size: 3vw;
        line-height: 120%;
        margin-bottom: 2vw;
        font-weight: bold;
    }

    .hero .text a {
        float: left;
        padding: 1.3vw 3vw;
        background: yellow;
        border-radius: 3px;
        color: #000;
        font-size: 1.2vw;
    }

    nav ul li {
        font-size: 1.2vw;
        margin-bottom: 2vw;
    }

    .about {
        padding: 6vw 0;
        font-family: 'Manrope', sans-serif;
        background: #ddd;
    }

    .about .text {
        float: left;
        width: 100%;
        text-align: center;
    }

    .about .text h2 {
        color: #000;
        font-size: 4.3vw;
        margin-bottom: 2vw;
    }

    .about .text h3 {
        color: #000;
        font-size: 2.5vw;
    }

    .about .text p {
        font-size: 2vw;
        line-height: 150%;
        margin-bottom: 3vw;
    }

    .about .thumb {
        flex-basis: 25%;
        margin-bottom: 1.5vw;
        padding: 0 30px;
        position: relative;
        max-width: fit-content;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: 100%;
        padding: 0;
        overflow: hidden;
    }

    .about .thumb a {
        cursor: zoom-in;
    }

    .about .thumb img {
        float: left;
        width: 100%;
        height: auto;
        aspect-ratio: 1/1;
        object-fit: cover;
        object-position: center;
        transition: 0.6s;
        -webkit-transition: 0.6s;
    }

    .about .thumb:hover img {
        transform: scale(1.1);
    }

    .btn {
        float: left;
        padding: 1.3vw 3vw;
        border-radius: 3px;
        font-size: 1.2vw;
        width: auto;
        height: 4vw;
        margin-right: 1rem;
        margin-bottom: 1rem;
        background: pink;
        border: #ff304f 1px outset;
        border-radius: 3px;
        box-shadow: 0px 7px 46px 0px rgba(255, 1, 86, 0.303);
        color: #ff304f;
        cursor: pointer;
    }

    .btn span {
        margin-left: 0.7vw;
    }

    .btn:hover {
        background: #ff304f;
        color: pink;
        font-weight: bold;
        box-shadow: 0px 7px 46px 0px rgba(255, 1, 86, 0.603);
    }

    footer {
        bottom: 0;
        background: #fff;
        padding: 5vw 0;
        padding-bottom: 2vw;
        font-family: 'Manrope', sans-serif;
        font-size: 1.2vw;
    }

    footer .copyright {
        float: left;
        color: #000;
    }

    footer .copyright a {
        color: #000;
        border-bottom: 1px solid #000;
    }

    footer .copyright span.company {
        font-size: 1vw;
    }

    footer .copyright span.company a {
        border-bottom: none;
    }

    footer .social {
        float: right;
        color: #000;
    }

    footer .social a {
        float: left;
        color: #000;
        margin-left: 1vw;
    }
}

/* for extra-large */
@media (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }

    header {
        position: fixed;
        width: 100%;
        left: 0;
        top: 0;
        z-index: 99;
        font-family: 'Manrope', sans-serif;
        font-weight: bold;
        padding: 2vw 0;
        transition: 0.3s;
        -webkit-transition: 0.3s;
    }

    header.fixed {
        background: lightcoral;
        padding: 2vw 0;
    }

    header a.myTitle {
        float: left;
        color: #fff;
        font-size: 2vw;
        transition: 0.3s;
        -webkit-transition: 0.3s;
    }

    header.fixed a.myTitle {
        font-size: 2vw;
    }

    header span {
        font-size: 2vw;
        color: #fff;
    }

    nav ul li {
        font-size: 1.2vw;
        margin-bottom: 2vw;
    }

    .hero {
        height: 100vh;
        background: url(../images/pic1.jpg) no-repeat center;
        background-size: cover !important;
        padding-top: 24vw;
        padding-bottom: 14vw;
        position: relative;
        z-index: 1;
    }

    .hero .text {
        float: left;
        width: 80%;
    }

    .hero .text h1 {
        color: #fff;
        font-size: 5.8vw;
        line-height: 100%;
        margin-bottom: 3vw;
    }

    .hero .text h3 {
        color: #fff;
        font-size: 3vw;
        line-height: 120%;
        margin-bottom: 2vw;
        font-weight: bold;
    }

    .hero .text a {
        float: left;
        padding: 1.3vw 3vw;
        background: yellow;
        border-radius: 3px;
        color: #000;
        font-size: 1.2vw;
    }

    .about {
        padding: 10vw 0;
        font-family: 'Manrope', sans-serif;
        background: #ddd;
    }

    .about .text {
        float: left;
        width: 100%;
        text-align: center;
    }

    .about .text h2 {
        color: #000;
        font-size: 4.3vw;
        margin-bottom: 2vw;
    }

    .about .text h3 {
        color: #000;
        font-size: 2.5vw;
    }

    .about .text p {
        font-size: 2vw;
        line-height: 150%;
        margin-bottom: 3vw;
    }

    .about .thumb {
        flex-basis: 25%;
        margin-bottom: 1.5vw;
        padding: 0 30px;
        position: relative;
        max-width: fit-content;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: 100%;
        padding: 0;
        overflow: hidden;
    }

    .about .thumb a {
        cursor: zoom-in;
    }

    .about .thumb img {
        float: left;
        width: 100%;
        height: auto;
        aspect-ratio: 1/1;
        object-fit: cover;
        object-position: center;
        transition: 0.6s;
        -webkit-transition: 0.6s;
    }

    .about .thumb:hover img {
        transform: scale(1.1);
    }

    .btn {
        float: left;
        padding: 1.3vw 3vw;
        border-radius: 3px;
        font-size: 1.2vw;
        width: auto;
        height: 4vw;
        margin-right: 1rem;
        margin-bottom: 1rem;
        background: pink;
        border: #ff304f 1px outset;
        border-radius: 3px;
        box-shadow: 0px 7px 46px 0px rgba(255, 1, 86, 0.303);
        color: #ff304f;
        cursor: pointer;
    }

    .btn span {
        margin-left: 0.7vw;
    }

    .btn:hover {
        background: #ff304f;
        color: pink;
        font-weight: bold;
        box-shadow: 0px 7px 46px 0px rgba(255, 1, 86, 0.603);
    }

    footer {
        bottom: 0;
        background: #fff;
        padding: 5vw 0;
        padding-bottom: 2vw;
        font-family: 'Manrope', sans-serif;
        font-size: 1.2vw;
    }

    footer .copyright {
        float: left;
        color: #000;
    }

    footer .copyright a {
        color: #000;
        border-bottom: 1px solid #000;
    }

    footer .copyright span.company {
        font-size: 1vw;
    }

    footer .copyright span.company a {
        border-bottom: none;
    }

    footer .social {
        float: right;
        color: #000;
    }

    footer .social a {
        float: left;
        color: #000;
        margin-left: 1vw;
    }
}

/* for double-extra-large */
@media (min-width: 1536px) {
    .container {
        max-width: 1536px;
    }


    header {
        position: fixed;
        width: 100%;
        left: 0;
        top: 0;
        z-index: 99;
        font-family: 'Manrope', sans-serif;
        font-weight: bold;
        padding: 2vw 0;
        transition: 0.3s;
        -webkit-transition: 0.3s;
    }

    header.fixed {
        background: lightcoral;
        padding: 2vw 0;
    }

    header a.myTitle {
        float: left;
        color: #fff;
        font-size: 2vw;
        transition: 0.3s;
        -webkit-transition: 0.3s;
    }

    header.fixed a.myTitle {
        font-size: 2vw;
    }

    header span {
        font-size: 2vw;
        color: #fff;
    }

    nav ul li {
        font-size: 1.2vw;
        margin-bottom: 2vw;
    }

    .hero {
        height: 100vh;
        background: url(../images/pic1.jpg) no-repeat center;
        background-size: cover !important;
        padding-top: 20vw;
        padding-bottom: 14vw;
        position: relative;
        z-index: 1;
    }

    .hero .text {
        float: left;
        width: 80%;
    }

    .hero .text h1 {
        color: #fff;
        font-size: 5.8vw;
        line-height: 100%;
        margin-bottom: 3vw;
    }

    .hero .text h3 {
        color: #fff;
        font-size: 3vw;
        line-height: 120%;
        margin-bottom: 2vw;
        font-weight: bold;
    }

    .hero .text a {
        float: left;
        padding: 1.3vw 3vw;
        background: yellow;
        border-radius: 3px;
        color: #000;
        font-size: 1.2vw;
    }

    .about {
        padding: 8vw 0;
        font-family: 'Manrope', sans-serif;
        background: #ddd;
    }

    .about .text {
        float: left;
        width: 100%;
        text-align: center;
    }

    .about .text h2 {
        color: #000;
        font-size: 3.5vw;
        margin-bottom: 1.5vw;
    }

    .about .text h3 {
        color: #000;
        font-size: 2.5vw;
    }

    .about .text p {
        font-size: 2vw;
        line-height: 150%;
        margin-bottom: 2vw;
    }

    .about .thumb {
        flex-basis: 25%;
        margin-bottom: 1.5vw;
        padding: 0 30px;
        position: relative;
        max-width: fit-content;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: 100%;
        padding: 0;
        overflow: hidden;
    }

    .about .thumb a {
        cursor: zoom-in;
    }

    .about .thumb img {
        float: left;
        width: 100%;
        height: auto;
        aspect-ratio: 1/1;
        object-fit: cover;
        object-position: center;
        transition: 0.6s;
        -webkit-transition: 0.6s;
    }

    .about .thumb:hover img {
        transform: scale(1.1);
    }

    .btn {
        float: left;
        padding: 1.3vw 3vw;
        border-radius: 3px;
        font-size: 1.2vw;
        width: auto;
        height: 4vw;
        margin-right: 1rem;
        margin-bottom: 1rem;
        background: pink;
        border: #ff304f 1px outset;
        border-radius: 3px;
        box-shadow: 0px 7px 46px 0px rgba(255, 1, 86, 0.303);
        color: #ff304f;
        cursor: pointer;
    }

    .btn span {
        margin-left: 0.7vw;
    }

    .btn:hover {
        background: #ff304f;
        color: pink;
        font-weight: bold;
        box-shadow: 0px 7px 46px 0px rgba(255, 1, 86, 0.603);
    }

    footer {
        bottom: 0;
        background: #fff;
        padding: 5vw 0;
        padding-bottom: 2vw;
        font-family: 'Manrope', sans-serif;
        font-size: 1.2vw;
    }

    footer .copyright {
        float: left;
        color: #000;
    }

    footer .copyright a {
        color: #000;
        border-bottom: 1px solid #000;
    }

    footer .copyright span.company {
        font-size: 1vw;
    }

    footer .copyright span.company a {
        border-bottom: none;
    }

    footer .social {
        float: right;
        color: #000;
    }

    footer .social a {
        float: left;
        color: #000;
        margin-left: 1vw;
    }

    .paper {
        z-index: 99;
        /* background: #f8f8ba; */
        background-color: rgb(243, 237, 153);
        /* Fallback color */
        background-color: rgba(243, 237, 153, 0.4);
        /* Black w/opacity/see-through */
        border: 3px solid #f1f1f1;
        border-radius: 3px;
        height: 80%;
        max-width: fit-content;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2vw;
        padding-left: 3vw;
        padding-right: 3vw;
    }
}