header {
    position: fixed;
    width: 90%;
    left: 5%;
    padding-left: auto;
    padding-right: auto;
    top: 1vh;
    z-index: 99;
    font-family: 'Manrope', sans-serif;
    font-weight: bold;
    padding: 2vw 0;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    border-radius: 2rem;
}

header.fixed {
    background: lightcoral;
    padding: 2vw 0;
}

header a.myTitle {
    float: left;
    color: #fff;
    font-size: 6vw;
    transition: 0.3s;
    -webkit-transition: 0.3s;
}

header.fixed a.myTitle {
    font-size: 6vw;
}


header.fixed span {
    color: white;
}

header span {
    font-size: 6vw;
    color: #ff304f;
}

header .hidemenu span {
    color: dodgerblue;
}

header .container {
    margin-left: 85%;
}

.menucontrols {
    float: right;
    margin-right: auto;
}

.menucontrols a {
    float: left;
    width: 4vw;
    height: 4vw;
    background: yellow;
    color: #000;
    font-size: 1.4vw;
}

a.hidemenu {
    position: fixed;
    right: 1vw;
    top: 1vw;
    width: 2vw;
    height: 2vw;
    color: #000;
    font-size: 2.2vw;
    transition: 1.6s;
    -webkit-transition: 1.6s;
    opacity: 0;
    visibility: hidden;
}

nav {
    position: fixed;
    right: -30vw;
    top: 0;
    background: #fff;
    z-index: 99;
    width: 35vw;
    height: 100%;
    padding: 5vw 5vw 5vw 5vw;
    overflow-y: auto;
    transition: 0.6s;
    -webkit-transition: 0.6s;
    opacity: 0;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.25);
}

nav.active {
    right: 0;
}

nav ul li {
    font-size: 5vw;
    margin-bottom: 2vw;
}

nav ul li a {
    color: #000;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    transition: 0.6s;
    -webkit-transition: 0.6s;
}

nav ul li a:hover {
    color: dodgerblue;
    border-bottom: 1px solid dodgerblue;
}


.main {
    position: relative;
    display: block;
    max-width: 100%;
    margin: 3.2rem 0 0;
}

.hero {
    height: 100vh;
    background-image: linear-gradient(180deg, #D9E7F3, #9d65f7);
    background-size: cover !important;
    padding-top: 55vw;
    padding-bottom: 14vw;
    padding-left: 1rem;
    padding-right: 1rem;
    position: relative;
    z-index: 1;
}

.hero:before {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.4));
}

.hero .text {
    float: left;
    width: 100%;
}

.hero .text h1 {
    color: #2b2b2b;
    font-size: 20vw;
    line-height: 100%;
    margin-bottom: 3vw;
}

.hero .text h3 {
    color: #fff;
    font-size: 10vw;
    line-height: 120%;
    margin-bottom: 2vw;
    font-weight: bold;
}

.hero .text h1 span,
.banner .text h3 span {
    color: #000;
}


.hero img {
    float: left;
    width: 100%;
    height: auto;
}

.btn {
    width: auto;
    height: 10%;
    margin-right: 1rem;
    margin-bottom: 1rem;
    float: left;
    padding: 1.3vw 3vw;
    background: #ff304f;
    border: #ff304f 1px outset;
    border-radius: 3px;
    box-shadow: 0px 7px 46px 0px rgba(255, 1, 86, 0.303);
    color: pink;
    font-size: 5vw;
    cursor: pointer;
}

.btn span {
    margin-left: 0.7vw;
}

.btn:hover {
    background: pink;
    border: pink 1px outset;
    color: #ff304f;
    font-weight: bold;
    box-shadow: 0px 7px 46px 0px rgba(255, 1, 86, 0.603);
}

.btn2 {
    width: auto;
    height: 10%;
    margin-right: 1rem;
    margin-bottom: 1rem;
    float: left;
    padding: 1.3vw 3vw;
    background: yellow;
    border: yellow 1px outset;
    border-radius: 3px;
    box-shadow: 0px 7px 46px 0px rgba(255, 251, 1, 0.303);
    color: #2b2b2b;
    font-size: 5vw;
    cursor: pointer;
}

.btn2 span {
    margin-left: 0.7vw;
}

.btn2:hover {
    background: #d8bee5;
    border: #d8bee5 1px outset;
    color: #2b2b2b;
    font-weight: bold;
    box-shadow: 0px 7px 46px 0px rgba(56, 56, 56, 0.603);
}


.about {
    height: 100vh;
    padding: 30vw 0;
    padding-left: 1rem;
    padding-right: 1rem;
    font-family: 'Manrope', sans-serif;
    background: pink;
}

.about .text {
    float: left;
    width: 100%;
    text-align: center;
}

.about .text h2 {
    color: #000;
    font-size: 8vw;
    margin-bottom: 2vw;
}

.about .text h3 {
    color: #000;
    font-size: 5vw;
}

.about .text p {
    font-size: 4.5vw;
    line-height: 150%;
    margin-bottom: 3vw;
}

.about .thumb {
    /* flex-basis: 33.33%; */
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 1.5vw;
    padding: 0 30px;
    position: relative;
    float: left;
    width: 100%;
    height: 100%;
    padding: 0;
    overflow: hidden;
}

.about .thumb a {
    cursor: zoom-in;
}

.about .thumb img {
    float: left;
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
    transition: 0.6s;
    -webkit-transition: 0.6s;
}

.about .thumb:hover img {
    transform: scale(1.1);
}



footer {
    bottom: 0;
    background: #fff;
    padding: 5vw 0;
    padding-bottom: 2vw;
    font-family: 'Manrope', sans-serif;
    font-size: 3vw;
    text-align: center;
}

footer .copyright {
    /* float: left; */
    color: #000;
}

footer .copyright a {
    color: #000;
    border-bottom: 1px solid #000;
}

footer .copyright span.company {
    font-size: 1vw;
}

footer .copyright span.company a {
    border-bottom: none;
}

footer .social {
    /* float: right; */
    color: #000;
}

footer .social a {
    /* float: left; */
    color: #000;
    margin-left: 1vw;
}

/* for letter and gallery html */
.section {
    max-height: fit-content;
    width: 100vw;
    /* background: url(../images/pic3.jpg) no-repeat center; */
    /* background-size: cover !important; */
    background: pink;
    position: relative;
    z-index: 1;
    padding-top: 20vh;
}

.section:before {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.4));
}

.paper {
    z-index: 99;
    /* background: #f8f8ba; */
    background-color: rgb(243, 237, 153);
    /* Fallback color */
    background-color: rgba(243, 237, 153, 0.4);
    /* Black w/opacity/see-through */
    border: 3px solid #f1f1f1;
    border-radius: 3px;
    max-height: fit-content;
    max-width: fit-content;
    margin-left: 3vw;
    margin-right: 3vw;
    margin-bottom: 2vw;
    padding-left: 3vw;
    padding-right: 3vw;
}

.paper .text {
    color: #000;
    padding-bottom: 1rem;
}