/* this css is for mobile first website */

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

/* for extra-small */
@media (min-width: 475px) {
    .container {
        max-width: 475px;
    }
}

/* for small */
@media (min-width: 640px) {
    .container {
        max-width: 640px;
    }
}

/* for medium */
@media (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

/* for large */
@media (min-width: 1024px) {
    .container {
        max-width: 1024px;
    }
}

/* for extra-large */
@media (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }
}

/* for double-extra-large */
@media (min-width: 1536px) {
    .container {
        max-width: 1536px;
    }
}