/* this css is for mobile first website */

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

/* for extra-small */
@media (min-width: 475px) {
    .container {
        max-width: 475px;
    }
}

/* for small */
@media (min-width: 640px) {
    .container {
        max-width: 640px;
    }
}

/* for medium */
@media (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

/* for large */
@media (min-width: 1024px) {
    .container {
        max-width: 1024px;
    }

    .header {
        position: fixed;
        width: 100%;
        left: 0;
        top: 0;
        z-index: 99;
        font-family: 'Manrope', sans-serif;
        font-weight: bold;
        padding: 2vw 0;
        transition: 0.3s;
        -webkit-transition: 0.3s;
    }

    .header.fixed {
        background: pink;
        color: #ff304f;
        padding: 0.7vw 0;
    }

    .header a.myTitle {
        float: left;
        color: #fff;
        font-size: 2vw;
        transition: 0.3s;
        -webkit-transition: 0.3s;
    }

    .header.fixed a.myTitle {
        font-size: 2vw;
    }

    .hero {
        height: 100vh;
        background: url(images/pic1.jpg) no-repeat center;
        background-size: cover !important;
        padding-top: 20vw;
        padding-bottom: 14vw;
        position: relative;
        z-index: 1;
    }

    .hero .text {
        float: left;
        width: 80%;
    }

    .hero .text h1 {
        color: #fff;
        font-size: 5.8vw;
        line-height: 100%;
        margin-bottom: 3vw;
    }

    .hero .text h3 {
        color: #fff;
        font-size: 3vw;
        line-height: 120%;
        margin-bottom: 2vw;
        font-weight: bold;
    }

    .hero .text a {
        float: left;
        padding: 1.3vw 3vw;
        background: yellow;
        border-radius: 3px;
        color: #000;
        font-size: 1.2vw;
    }
}

/* for extra-large */
@media (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }

    .header {
        position: fixed;
        width: 100%;
        left: 0;
        top: 0;
        z-index: 99;
        font-family: 'Manrope', sans-serif;
        font-weight: bold;
        padding: 2vw 0;
        transition: 0.3s;
        -webkit-transition: 0.3s;
    }

    .header.fixed {
        background: pink;
        color: #ff304f;
        padding: 0.7vw 0;
    }

    .header a.myTitle {
        float: left;
        color: #fff;
        font-size: 2vw;
        transition: 0.3s;
        -webkit-transition: 0.3s;
    }

    .header.fixed a.myTitle {
        font-size: 2vw;
    }

    .hero {
        height: 100vh;
        background: url(images/pic1.jpg) no-repeat center;
        background-size: cover !important;
        padding-top: 20vw;
        padding-bottom: 14vw;
        position: relative;
        z-index: 1;
    }

    .hero .text {
        float: left;
        width: 80%;
    }

    .hero .text h1 {
        color: #fff;
        font-size: 5.8vw;
        line-height: 100%;
        margin-bottom: 3vw;
    }

    .hero .text h3 {
        color: #fff;
        font-size: 3vw;
        line-height: 120%;
        margin-bottom: 2vw;
        font-weight: bold;
    }

    .hero .text a {
        float: left;
        padding: 1.3vw 3vw;
        background: yellow;
        border-radius: 3px;
        color: #000;
        font-size: 1.2vw;
    }
}

/* for double-extra-large */
@media (min-width: 1536px) {
    .container {
        max-width: 1536px;
    }


    .header {
        position: fixed;
        width: 100%;
        left: 0;
        top: 0;
        z-index: 99;
        font-family: 'Manrope', sans-serif;
        font-weight: bold;
        padding: 2vw 0;
        transition: 0.3s;
        -webkit-transition: 0.3s;
    }

    .header.fixed {
        background: pink;
        color: #ff304f;
        padding: 0.7vw 0;
    }

    .header a.myTitle {
        float: left;
        color: #fff;
        font-size: 2vw;
        transition: 0.3s;
        -webkit-transition: 0.3s;
    }

    .header.fixed a.myTitle {
        font-size: 2vw;
    }

    .hero {
        height: 100vh;
        background: url(images/pic1.jpg) no-repeat center;
        background-size: cover !important;
        padding-top: 20vw;
        padding-bottom: 14vw;
        position: relative;
        z-index: 1;
    }

    .hero .text {
        float: left;
        width: 80%;
    }

    .hero .text h1 {
        color: #fff;
        font-size: 5.8vw;
        line-height: 100%;
        margin-bottom: 3vw;
    }

    .hero .text h3 {
        color: #fff;
        font-size: 3vw;
        line-height: 120%;
        margin-bottom: 2vw;
        font-weight: bold;
    }

    .hero .text a {
        float: left;
        padding: 1.3vw 3vw;
        background: yellow;
        border-radius: 3px;
        color: #000;
        font-size: 1.2vw;
    }
}